@import "../../Layout/global.scss";

.contentContainer {
    width: 80%;
    height: 100vh;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    #addWorkerButton {
        align-self: flex-end;
        margin: 20px 0;
    }
}

.row{
    width: 100%;
    padding: 15px 0;
    height: auto;
    background-color: $dark-blue;
    &:nth-child(odd) {
        background-color: $blue;
        &:hover {
            background-color: $dark-blue !important;
        }
    }
    font-size: 15px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .rowProfile{
        width: 20%;
    }

    .rowName{
        width: 20%;
        padding-left: 40px;
    }

    .rowEmail{
        width: 20%;
    }

    .rowButtons{
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        :hover {
            background-color: $light-blue;
        }
        .buttonClass {
            margin: 0 20px;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 10px;
            
        }
    }
}