// Colors
$light-blue: #E8F1FB;
$blue: #94B6E6;
$dark-blue: #7F9DB9;
$darker-blue: #0C479D;
$light-black: #3E3E3E;
$black: #000000;
$gray: #ADADAD;
$light-gray: #CECECE;
$gray-overlay: transparentize($black, 0.12);

// Google Fonts
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");

// Font Variables
// $main-font: "Montserrat", sans-serif;
