@import "../../Layout/global.scss";

.situationContainer {
  padding: 10px 0;
  border-bottom: 1px solid black;
  h3 {
    padding: 5px 0;
  }
}

.unitContainer {
  padding: 10px 0;
  border-bottom: 1px solid black;
  h3 {
    padding: 5px 0;
  }
}

.departmentContainer {
  padding: 10px 0;
  border-bottom: 1px solid black;
  h3 {
    padding: 5px 0;
  }
}

.onDutyTypeContainer {
  padding: 10px 0;
  border-bottom: 1px solid black;
  h3 {
    padding: 5px 0;
  }
}

.contentWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 0 auto;
}

.headerSchedulerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.schedulerContainer {
  width: 80%;
  padding: 10px 0 0 20px;
}

.accordionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .accordionIcon {
    cursor: pointer
  }
}

.sidebarWrapper {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}

.sidebarContainer {
  width: 200px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: $light-blue;
  border-radius: 5px;
  height: 536px;
  cursor: pointer;
}
/* jQ TOGGLE UTIL
====================*/
.hideSidebar {
  display: none;
}
.push-body {
  margin-left: 30rem;
}